@import "variables";
@import "tools";

.form {
  &-field {
    width: 100%;
    position: relative;
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .error-msg {
    color: $error-color;
    font-size: 12px;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.form-field.is-error {
  input,
  textarea {
    border-color: $error-color;
  }
}

.form-field.is-valid {
  .error-msg {
    display: none;
  }
}

input {
  border: 1px solid $secondary-color;
  outline: none;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  transition: background-color 250ms ease-in-out;

  &:focus {
    background-color: rgba($secondary-color, .1);
  }
}

textarea {
  border: 1px solid $secondary-color;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  padding: 10px 20px;
  border-radius: 5px;
  height: 150px;
  width: 100%;
  resize: none;
  transition: background-color 250ms ease-in-out;
  display: block;

  &:focus {
    outline: none;
    background-color: rgba($secondary-color, .1);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  background-color: #f2f4f4 !important;
  -webkit-box-shadow: 0 0 0 50px #f2f4f4 inset !important;
}

@-webkit-keyframes autofill {
  0%,100% {
    background: #f2f4f4;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

::placeholder {
  color: $secondary-color;
  font-weight: 200;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $secondary-color;
  font-weight: 200;
}

::-ms-input-placeholder {
  color: $secondary-color;
  font-weight: 200;
}

.radio-btn {
  input {
    visibility: hidden;
    position: absolute;
  }

  label {
    cursor: pointer;
    padding-left: 18px;
    position: relative;
    transition: color 200ms ease-in-out;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -6px;
      display: block;
      height: 12px;
      width: 12px;
      border: 1px solid $primary-color;
      border-radius: 16px;
      transition: border-color 250ms ease-in-out;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 3px;
      margin-top: -3px;
      display: block;
      height: 6px;
      width: 6px;
      border-radius: 4px;
      background-color: $primary-color;
      transform: scale(0);
      transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
    }

    &:hover {
      color: $secondary-color;

      &:before {
        border-color: $secondary-color;
      }

      &:after {
        background-color: $secondary-color;
        transform: scale(1);
      }
    }
  }

  input:checked + label {
    cursor: default;

    &:after {
      transform: scale(1);
    }

    &:hover {
      color: $primary-color;

      &:before {
        border-color: $primary-color;
      }

      &:after {
        background-color: $primary-color;
        transform: scale(1);
      }
    }
  }
}