  
<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicons/favicon-16x16.png">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <main class="js-content-insert">
    <div class="about">
      <header class="header content">
        <h1>Vitaliy Bykovets</h1>
        <div class="divider-circle"></div>
        <span>About</span>
      </header>
      <section class="content">

      </section>
    </div>
    <footer class="footer">
      <div class="content">
        <hr>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="./projects.html">Projects</a>
            </li>
            <li>
              <a href="./contact.html">Contact</a>
            </li>
          </ul>
        </nav>
        <p class="copyright">
          &copy; <span id="copyright-year"></span>
        </p>
      </div>
    </footer>
  </main>
  <div class="transition">
    <div class="transition-anim"></div>
    <div class="transition-content"></div>
  </div>
</body>

</html>