  
<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <main class="js-content-insert">
    <div class="full-view">
      <section class="contact">
        <h1>Vitaliy Bykovets</h1>
        <nav>
          <ul>
            <li class="text-right">
              <a href="./projects.html">Projects</a>
            </li>
            <li class="text-left">
              <a href="about.html">About</a>
            </li>
          </ul>
        </nav>
        <ul>
          <li>
            <a href="https://github.com/vitaliy-bykovets" target="_blank">GitHub</a>
          </li>
          <li>
            <a href="https://twitter.com/LOPILUP_777" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://www.facebook.com/vitaliy.bykovets" target="_blank">Facebook</a>
          </li>
        </ul>
        <p>Or just drop a message</p>
        <form action="">
          <textarea name="message"></textarea>
          <button type="submit">Send</button>
        </form>
      </section>
    </div>
  </main>
  <div class="transition">
    <div class="transition-anim"></div>
    <div class="transition-content"></div>
  </div>
</body>

</html>