  
<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <main class="js-content-insert">
    <div class="about">
      <header class="header content">
        <h1>Vitaliy Bykovets</h1>
        <div class="divider-circle"></div>
        <span>Contact</span>
      </header>
      <section class="content">
        <div class="contact-field">
          <p>I'm in social networks:</p>
          <ul class="social-list">
            <li>
              <a href="https://github.com/vitaliy-bykovets" target="_blank" title="GitHub">
                <span class="icon icon-github"></span>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/vitaliy-bykovets-793232144/" target="_blank" title="LinkedIn">
                <span class="icon icon-linkedin"></span>
              </a>
            </li>
            <li>
              <a href="tg://resolve?domain=vbykovets" target="_blank" title="Telegram">
                <span class="icon icon-telegram"></span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/LOPILUP_777" target="_blank" title="Twitter">
                <span class="icon icon-twitter"></span>
              </a>
            </li>
          </ul>
        </div>

        <div class="contact-field">
          <p>Or just drop a few lines...</p>
          <form>
            <div class="form-field">
              <input type="email" id="email" name="email" required placeholder="Your email">
            </div>
            <div class="form-field message-field">
              <textarea type="message" id="message" name="message" required placeholder="Message"></textarea>
            </div>
            <div class="form-field">
              <button class="btn" type="submit">Send</button>
            </div>
          </form>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="content">
        <hr>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="./projects.html">Projects</a>
            </li>
            <li>
              <a href="./about.html">About</a>
            </li>
          </ul>
        </nav>
        <p class="copyright">
          &copy; <span id="copyright-year"></span>
        </p>
      </div>
    </footer>
  </main>
  <div class="transition">
    <div class="transition-anim"></div>
    <div class="transition-content"></div>
  </div>
</body>

</html>