  
<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <main class="js-content-insert">
    <div class="projects">
      <header class="header content">
        <h1>Vitaliy Bykovets</h1>
        <div class="divider-circle"></div>
        <span>Projects</span>
      </header>
      <section class="actions content">
        <a class="btn" href="/file.pdf">Download CV</a>
        <div class="filters">
          <div class="radio-btn">
            <input id="all" type="radio" name="filter" checked>
            <label for="all">All</label>
          </div>
          <div class="radio-btn">
            <input id="development" type="radio" name="filter">
            <label for="development">Development</label>
          </div>
          <div class="radio-btn">
            <input id="design" type="radio" name="filter">
            <label for="design">Design</label>
          </div>
        </div>
      </section>
      <section>
          <div class="content">
            <div class="project" data-filter="design">
              <picture></picture>
              <div class="project-body">
                <h4>Minty</h4>

                <div class="project-desc">
                  Branding for small family healthy food  company. Has been made design for brand, chocolate bars, candy bars packaging, gift cards.
                </div>

                <div class="gallery">
                  <a href="img/2-1.jpg" data-caption="Image caption">
                    <img src="img/thumbnails/2-1.jpg" alt="First image">
                  </a>
                  <a href="img/2-2.jpg">
                    <img src="img/thumbnails/2-2.jpg" alt="Second image">
                  </a>
                </div>
              </div>
            </div>
            <div class="project" data-filter="development">
              <picture></picture>
              <div class="project-body">
                <h4>Private Goods</h4>

                <div class="project-desc">
                  CRM system based on the latest Angular. The App should provide offline user experience and update data on the server when the app goes online. Also this system is built as a desktop app using Electorn framework. The App helps to manage business contacts, increase sales, work with analytics, support multilanguage and different user roles.
                </div>
                <div class="project-tech">
                  <strong>Stack:</strong> egrate multilanguage functionality, cover a functional code with unit tests
                  Tools and technologies: HTML5, CSS3, Angular 9, RxJs, Angular Material, Dexie (IndexedDB - to save data offline), TypeScript, JavaScript (ES6), Git
                </div>
              </div>
            </div>
            <div class="project" data-filter="development">
              <picture></picture>
              <div class="project-body">
                <h4>Private Goods</h4>

                <div class="project-desc">
                  SPA for system to manage energy consumption for energy companies: gather data from metrics, manage energy usage, generate bills, reports, build charts with analytics, build schemes with equipment.
                </div>
                <div class="project-tech">
                  <strong>Stack:</strong> HTML5, CSS3, Angular 6, NGRX, RxJs, Konva.js, TypeScript, JavaScript (ES6), Git
                </div>
              </div>
            </div>
            <div class="project" data-filter="development">
              <picture></picture>
              <div class="project-body">
                <h4>FuseMap</h4>

                <div class="project-desc">
                  Web portal for smart equipment (plugs, thermostats, lights and other). It has a statistic, information about buildings, possibilities to manage smart equipment
                </div>
                <div class="project-tech">
                  <strong>Stack:</strong> HTML5, CSS3, Angular 5, TypeScript, JavaScript (ES6), Git, NGRX, Nrwl, RxJs, HighCharts, ExcelJs
                </div>
              </div>
            </div>
            <div class="project" data-filter="development">
              <picture></picture>
              <div class="project-body">
                <h4>MsFit (Coach Platform)</h4>

                <div class="project-desc">
                  Web portal for fitness coaches. MsFit Mobile application for a woman to create her own workout program and diet. Web portal helps for personal trainers to control fitness exercises, create fitness exercises, create diet programs and control a process of coachee progress.
                </div>
                <div class="project-tech">
                  <strong>Stack:</strong> HTML5, CSS3, Angular 4, TypeScript, JavaScript (ES6), Git, multi languages.
                </div>
              </div>
            </div>
            <div class="project" data-filter="development">
              <picture></picture>
              <div class="project-body">
                <h4>xGSchedule</h4>

                <div class="project-desc">
                  Scheduling system for linear, on-demand and digital platforms. This integrated system helps to plan schedules across multiple linear, nonlinear, web and mobile platforms with streamlined validation against content and usage rights, as well as organizational business rules.
                </div>
                <div class="project-tech">
                  <strong>Stack:</strong> HTML5, CSS3, AngularJS, Angular 5, TypeScript, JavaScript (ES6), Git
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
    <footer class="footer">
      <div class="content">
        <hr>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="./about.html">About</a>
            </li>
            <li>
              <a href="./contact.html">Contact</a>
            </li>
          </ul>
        </nav>
        <p class="copyright">
          &copy; <span id="copyright-year"></span>
        </p>
      </div>
    </footer>
  </main>
  <div class="transition">
    <div class="transition-anim"></div>
    <div class="transition-content"></div>
  </div>
</body>

</html>