  
<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <main class="js-content-insert">
    <div class="full-view">
      <section class="home">
        <h1>Vitaliy Bykovets</h1>
        <nav>
          <div class="figure">
            <span class="triangle"></span>
            <span class="triangle triangle-filled"></span>
            <span class="triangle"></span>
          </div>
          <ul>
            <li class="text-right">
              <a href="./projects.html">Projects</a>
            </li>
            <li class="text-center offset">
              <a href="./contacts.html">Contact</a>
            </li>
            <li class="text-left">
              <a href="about.html">About</a>
            </li>
          </ul>
        </nav>
      </section>
    </div>
  </main>
  <div class="transition">
    <div class="transition-anim"></div>
    <div class="transition-content"></div>
  </div>
</body>

</html>