@import "variables";
@import "tools";

$figure-height: 100px;
$drop-height: 18px;
$drop-gap: 6px;
$drop-margin: 15px;

body {
  color: $primary-color;
  font-family: $primary-font;
  font-size: $body-font-size;
  font-weight: 200;
  line-height: $body-line-height;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: color 250ms ease-in-out;

  &:hover {
    color: #839094;
  }
}

p {
  margin: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: $accent-color;
  margin: 0;
}

.btn {
  background-color: $accent-color;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: rem(14px);
}

.divider-circle {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  margin: 3px 15px;
  display: inline-flex;
  background-color: $primary-color;
}

.figure {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: $figure-height;
  max-width: $figure-height;
  height: 20vh;
  width: 20vh;
  background-color: $accent-color;
  border-radius: 150px;

  .triangle:not(:last-child) {
    margin-right: 4px;
  }
}

.triangle {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjMuMTc1bW0iIGhlaWdodD0iMi44MjJtbSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiAgZmlsbD0icmdiKDExLCAxMiwgMTIpIiBkPSJNMC4wMjMsNy41MjMgTDQuMDMzLDAuNDc1IEw4LjAzMiw3LjUzMCBMMC4wMjMsNy41MjMgWk00LjAwNSwyLjUwMyBMMi4wMDMsNi40OTYgTDYuMDAwLDYuNDk5IEw0LjAwNSwyLjUwMyBaIi8+PC9zdmc+);
}

.triangle-filled {
  background-image: url(data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjgiIGhlaWdodD0iOCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiAgZmlsbD0icmdiKDExLCAxMiwgMTIpIiBkPSJNOC4wMzIsNy41MzAgTDAuMDIzLDcuNTIzIEw0LjAzMywwLjQ3NSBMOC4wMzIsNy41MzAgWiIvPjwvc3ZnPg==);
}

.full-view {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// HOME ---
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  position: relative;

  .figure {
    filter: url('#goo');

    .triangle {
      position: relative;
      z-index: 3;
    }

    .drop {
      position: absolute;
      display: inline-block;
      top: $figure-height / 2;
      right: $drop-height;
      width: $drop-height;
      height: $drop-height;
      background: $accent-color;
      border-radius: 50%;
      transform-origin: 50% 0;
      margin-top: -$drop-height / 2;
      transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
      z-index: 2;


      &:first-child{
        margin-top: -$drop-height - $drop-height / 2 - $drop-gap;
      }

      &:last-child {
        margin-top: $drop-height / 2 + $drop-gap;
      }

      &.is-moved {
        transform: translateX($drop-height * 1.6 );
      }
    }
  }

  h1 {
    font-size: rem(12px);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 0 90px;
  }

  nav {
    display: flex;
    width: 100%;
    align-items: center;

    ul {
      margin-left: 20px;

      .offset {
        align-self: flex-end;
        margin-bottom: 0;
      }
    }

    ul > li {
      font-size: rem(12px);
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 3px;
      align-self: center;
    }
  }
}

@keyframes loading {
  100% { transform: translate3d(-500px, 0, 0); }
}

.content {
  max-width: rem(720px);
  margin: 0 auto;
  padding: 0 rem(35px);
}

// PROJECTS ---
.projects {



}

.header {
  margin: 30px auto;
  display: flex;
  align-items: center;

  h1 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }

  .divider-circle {
    margin: 3px 15px 0;
  }
}

.footer {
  margin-bottom: 30px;
  font-size: rem(14px);
  padding-top: 30px;

  nav {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  nav ul {
    display: flex;
    align-items: center;

    & > li:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.filters {
  display: flex;
  align-items: center;
  font-size: rem(14px);

  & > *:not(:last-child) {
    margin-right: rem(20px);
  }
}

.project {
  margin-bottom: rem(35px);

  h4 {
    margin: 0 0 rem(5px);
    font-size: rem(18px);
    font-weight: 400;
  }
}


.radio-btn {
  input {
    visibility: hidden;
    position: absolute;
  }

  label {
    cursor: pointer;
    padding-left: 18px;
    position: relative;
    transition: color 200ms ease-in-out;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -6px;
      display: block;
      height: 12px;
      width: 12px;
      border: 1px solid $primary-color;
      border-radius: 16px;
      transition: border-color 250ms ease-in-out;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 3px;
      margin-top: -3px;
      display: block;
      height: 6px;
      width: 6px;
      border-radius: 4px;
      background-color: $primary-color;
      transform: scale(0);
      transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
    }

    &:hover {
      color: #839094;

      &:before {
        border-color: #839094;
      }

      &:after {
        background-color: #839094;
        transform: scale(1);
      }
    }
  }

  input:checked + label {
    cursor: default;

    &:after {
      transform: scale(1);
    }

    &:hover {
      color: $primary-color;

      &:before {
        border-color: $primary-color;
      }

      &:after {
        background-color: $primary-color;
        transform: scale(1);
      }
    }
  }
}

// CONTACT ---
.contact {
  textarea {
    border: none;
    background-color: $accent-color;
    font-weight: 200;
    padding: 20px;
    line-height: $body-line-height;

    &:focus {
      border: none;
      outline: none;
    }
  }

  button {
    background-color: transparent;
    border: none;
  }
}

.transition {
  position: absolute;
  z-index: 6;
  transform-origin: 50% 50%;
  width: 100vh;
  height: 100vh;
  top: 50%;
  left: 50%;
  margin-top: -50vh;
  margin-left: -50vh;
  display: none;

  &-animation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    background-color: $accent-color;
    border-radius: 50%;
    transform: scale(0);
    transform-origin: 50% 50%;
  }
}

.transition.is-processing,
.transition.is-stay {
  display: block;
}

.transition.is-processing .transition-animation {
  animation: sideLeft 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s backwards;
}

@keyframes sideLeft {
  0% { transform: scale(0) }
  100% { transform: scale(2) }
}
