@import "variables";
@import "tools";

.form {
  &-field {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

input {
  border: 1px solid $secondary-color;
  outline: none;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
}

textarea {
  border: 1px solid $secondary-color;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  padding: 10px 20px;
  border-radius: 5px;
  height: 150px;
  width: 100%;
  resize: none;
}

::placeholder {
  color: $secondary-color;
  font-weight: 200;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $secondary-color;
  font-weight: 200;
}

::-ms-input-placeholder {
  color: $secondary-color;
  font-weight: 200;
}