
<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicons/favicon-16x16.png">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <main class="js-content-insert">
    <div class="about">
      <header class="header content">
        <h1><a href="/">Vitaliy Bykovets</a></h1>
        <div class="divider-circle"></div>
        <span>Contact</span>
      </header>
      <section class="content">
        <div class="contact-field">
          <p>I'm in social networks:</p>
          <ul class="social-list">
            <li>
              <a href="https://github.com/vitaliy-bykovets" target="_blank" title="GitHub">
                <span class="icon icon-github"></span>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/vitaliy-bykovets-793232144/" target="_blank" title="LinkedIn">
                <span class="icon icon-linkedin"></span>
              </a>
            </li>
            <li>
              <a href="tg://resolve?domain=vbykovets" target="_blank" title="Telegram">
                <span class="icon icon-telegram"></span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/LOPILUP_777" target="_blank" title="Twitter">
                <span class="icon icon-twitter"></span>
              </a>
            </li>
          </ul>
        </div>

        <div class="contact-field">
          <p>Or just drop a few lines...</p>
          <form class="form" data-form-validation novalidate>
            <div class="form-field">
              <input type="email"
                     id="email"
                     name="email"
                     data-rules="required,email"
                     data-rule-required-msg="Email can't be empty"
                     data-rule-email-msg="Uh.. Seems an email is incorrect"
                     placeholder="Your email" >
            </div>
            <div class="form-field">
              <textarea type="message"
                        id="message"
                        name="message"
                        data-rules="required"
                        data-rule-required-msg="Please type the message"
                        placeholder="Message"></textarea>
            </div>
            <div class="form-field">
              <button class="btn btn-icon" type="submit">Send <span class="icon icon-mail"></span></button>
            </div>
          </form>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="content">
        <hr>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="projects.html">Projects</a>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
          </ul>
        </nav>
        <p class="copyright">
          &copy; <span id="copyright-year"></span>
        </p>
      </div>
    </footer>
  </main>
  <div class="transition">
    <div class="transition-anim"></div>
    <div class="transition-content"></div>
  </div>
</body>

</html>